body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:514px;
}
#u2192 {
  position:absolute;
  left:-3px;
  top:55px;
  width:324px;
  height:514px;
  text-align:left;
}
#u2193 {
  position:absolute;
  left:2px;
  top:249px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u2194 {
  position:absolute;
  left:-1px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u2195 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:-1px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u2197 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:468px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
}
#u2198 {
  position:absolute;
  left:-1px;
  top:53px;
  width:320px;
  height:468px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:226px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u2202 {
  position:absolute;
  left:8px;
  top:-38px;
  width:49px;
  height:43px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2205 {
  position:absolute;
  left:67px;
  top:-44px;
  width:223px;
  height:161px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2206 {
  position:absolute;
  left:2px;
  top:72px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:33px;
}
#u2207 {
  position:absolute;
  left:60px;
  top:-31px;
  width:16px;
  height:33px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:8px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:80px;
}
#u2209 {
  position:absolute;
  left:80px;
  top:-36px;
  width:204px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  line-height:normal;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u2211 {
  position:absolute;
  left:91px;
  top:23px;
  width:186px;
  height:95px;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u2213 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:30px;
  width:181px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u2215 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:60px;
  width:181px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u2217 {
  position:absolute;
  left:2px;
  top:6px;
  width:177px;
  word-wrap:break-word;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2218 {
  position:absolute;
  left:68px;
  top:117px;
  width:222px;
  height:40px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:12px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  position:absolute;
  left:89px;
  top:122px;
  width:72px;
  height:29px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2223 {
  position:absolute;
  left:96px;
  top:126px;
  width:20px;
  height:20px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u2225 {
  position:absolute;
  left:121px;
  top:126px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  position:absolute;
  left:198px;
  top:122px;
  width:68px;
  height:29px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2231 {
  position:absolute;
  left:204px;
  top:127px;
  width:17px;
  height:20px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u2233 {
  position:absolute;
  left:227px;
  top:126px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:7px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2235 {
  position:absolute;
  left:68px;
  top:110px;
  width:220px;
  height:7px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:-4px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:57px;
}
#u2238 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:57px;
  text-align:left;
}
#u2239 {
  position:absolute;
  left:2px;
  top:20px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2240 {
  position:absolute;
  left:25px;
  top:18px;
  width:286px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:2px;
  top:8px;
  width:282px;
  word-wrap:break-word;
}
#u2243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2243 {
  position:absolute;
  left:10px;
  top:24px;
  width:28px;
  height:26px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u2245 {
  position:absolute;
  left:10px;
  top:23px;
  width:28px;
  height:27px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u2247 {
  position:absolute;
  left:-4px;
  top:521px;
  width:324px;
  height:49px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:16px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u2250 {
  position:absolute;
  left:272px;
  top:16px;
  width:43px;
  height:39px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2252 {
  position:absolute;
  left:282px;
  top:20px;
  width:26px;
  height:26px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
}
#u2255 {
  position:absolute;
  left:254px;
  top:164px;
  width:64px;
  height:50px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:17px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:72px;
  background:inherit;
  background-color:rgba(3, 115, 225, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2257 {
  position:absolute;
  left:40px;
  top:168px;
  width:214px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2258 {
  position:absolute;
  left:2px;
  top:28px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2259 {
  position:absolute;
  left:52px;
  top:175px;
  width:194px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2263 {
  position:absolute;
  left:6px;
  top:246px;
  width:44px;
  height:40px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2265 {
  position:absolute;
  left:57px;
  top:252px;
  width:230px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2266 {
  position:absolute;
  left:2px;
  top:13px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:6px;
}
#u2267 {
  position:absolute;
  left:50px;
  top:259px;
  width:16px;
  height:6px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:-5px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2269 {
  position:absolute;
  left:57px;
  top:252px;
  width:230px;
  height:120px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:52px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  position:absolute;
  left:68px;
  top:262px;
  width:204px;
  height:100px;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2274 {
  position:absolute;
  left:6px;
  top:378px;
  width:44px;
  height:40px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2280 {
  position:absolute;
  left:57px;
  top:384px;
  width:230px;
  height:146px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2281 {
  position:absolute;
  left:2px;
  top:65px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:6px;
}
#u2282 {
  position:absolute;
  left:50px;
  top:391px;
  width:16px;
  height:6px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:-5px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:66px;
  top:384px;
  width:208px;
  height:16px;
}
#u2286 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287 {
  position:absolute;
  left:66px;
  top:441px;
  width:208px;
  height:35px;
}
#u2287_input {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:center;
}
#u2288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2288 {
  position:absolute;
  left:68px;
  top:476px;
  width:211px;
  height:20px;
  color:#666666;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2291 {
  position:absolute;
  left:66px;
  top:407px;
  width:208px;
  height:34px;
  text-align:left;
}
#u2292 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2293 {
  position:absolute;
  left:256px;
  top:419px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u2294 {
  position:absolute;
  left:2px;
  top:-7px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2295 {
  position:absolute;
  left:255px;
  top:425px;
  width:10px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2296 {
  position:absolute;
  left:2px;
  top:-7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2297 {
  position:absolute;
  left:76px;
  top:415px;
  width:53px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
  line-height:14px;
}
#u2299 {
  position:absolute;
  left:147px;
  top:412px;
  width:113px;
  height:28px;
  font-family:'.萍方-简 中黑体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
  line-height:14px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2301 {
  position:absolute;
  left:68px;
  top:496px;
  width:206px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:2px;
  top:4px;
  width:202px;
  word-wrap:break-word;
}
