body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1112 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1113 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:37px;
}
#u1114 {
  position:absolute;
  left:49px;
  top:18px;
  width:269px;
  height:37px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:10px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u1116 {
  position:absolute;
  left:117px;
  top:22px;
  width:201px;
  height:33px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:8px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:464px;
}
#u1118 {
  position:absolute;
  left:0px;
  top:55px;
  width:321px;
  height:464px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:224px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u1121 {
  position:absolute;
  left:133px;
  top:253px;
  width:184px;
  height:36px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u1122 {
  position:absolute;
  left:2px;
  top:8px;
  width:180px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1123 {
  position:absolute;
  left:286px;
  top:259px;
  width:25px;
  height:25px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:9px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:0px;
  top:519px;
  width:318px;
  height:9px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:-4px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  position:absolute;
  left:0px;
  top:528px;
  width:318px;
  height:55px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
  background:inherit;
  background-color:rgba(189, 42, 32, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130 {
  position:absolute;
  left:38px;
  top:534px;
  width:247px;
  height:41px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1131 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:10px;
  top:24px;
  width:28px;
  height:26px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1136 {
  position:absolute;
  left:10px;
  top:24px;
  width:28px;
  height:26px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
