body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1980 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1981 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u1982 {
  position:absolute;
  left:-1px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1984 {
  position:absolute;
  left:-1px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1986 {
  position:absolute;
  left:25px;
  top:18px;
  width:286px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:2px;
  top:8px;
  width:282px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u1988 {
  position:absolute;
  left:122px;
  top:190px;
  width:49px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:10px;
  top:23px;
  width:28px;
  height:26px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1994 {
  position:absolute;
  left:10px;
  top:23px;
  width:28px;
  height:26px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u1996 {
  position:absolute;
  left:-4px;
  top:521px;
  width:324px;
  height:49px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:16px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:468px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
}
#u1998 {
  position:absolute;
  left:-1px;
  top:53px;
  width:320px;
  height:468px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:226px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u2001 {
  position:absolute;
  left:272px;
  top:16px;
  width:43px;
  height:39px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2003 {
  position:absolute;
  left:282px;
  top:20px;
  width:26px;
  height:26px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:53px;
  width:318px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:108px;
  width:318px;
  height:1px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0074EA;
}
#u2011 {
  position:absolute;
  left:67px;
  top:61px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0074EA;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2013 {
  position:absolute;
  left:67px;
  top:84px;
  width:183px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:57px;
  height:57px;
}
#u2015 {
  position:absolute;
  left:4px;
  top:57px;
  width:47px;
  height:47px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2017 {
  position:absolute;
  left:14px;
  top:65px;
  width:28px;
  height:28px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2020 {
  position:absolute;
  left:6px;
  top:176px;
  width:44px;
  height:40px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2026 {
  position:absolute;
  left:57px;
  top:182px;
  width:230px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:23px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u2028 {
  position:absolute;
  left:50px;
  top:192px;
  width:16px;
  height:9px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2031 {
  position:absolute;
  left:70px;
  top:184px;
  width:194px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2033 {
  position:absolute;
  left:6px;
  top:262px;
  width:44px;
  height:40px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2039 {
  position:absolute;
  left:57px;
  top:268px;
  width:230px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2040 {
  position:absolute;
  left:2px;
  top:18px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:24px;
}
#u2041 {
  position:absolute;
  left:50px;
  top:276px;
  width:16px;
  height:14px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:50px;
}
#u2043 {
  position:absolute;
  left:254px;
  top:118px;
  width:64px;
  height:50px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:17px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
  background:inherit;
  background-color:rgba(3, 115, 225, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:140px;
  top:124px;
  width:114px;
  height:38px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:11px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:1px;
}
#u2047 {
  position:absolute;
  left:151px;
  top:130px;
  width:99px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2049_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:239px;
  height:67px;
}
#u2049 {
  position:absolute;
  left:58px;
  top:264px;
  width:229px;
  height:57px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
