body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1722 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1723 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u1724 {
  position:absolute;
  left:-1px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u1725 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1726 {
  position:absolute;
  left:-1px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u1727 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:33px;
}
#u1728 {
  position:absolute;
  left:1px;
  top:20px;
  width:316px;
  height:33px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:212px;
}
#u1730 {
  position:absolute;
  left:0px;
  top:53px;
  width:318px;
  height:212px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:98px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:38px;
}
#u1732 {
  position:absolute;
  left:1px;
  top:532px;
  width:316px;
  height:38px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1734 {
  position:absolute;
  left:1px;
  top:275px;
  width:316px;
  height:71px;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
}
#u1736 {
  position:absolute;
  left:105px;
  top:353px;
  width:93px;
  height:88px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:102px;
  background:inherit;
  background-color:rgba(189, 42, 32, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 42, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1738 {
  position:absolute;
  left:1px;
  top:346px;
  width:320px;
  height:102px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1739 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  word-wrap:break-word;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
}
#u1740 {
  position:absolute;
  left:208px;
  top:353px;
  width:93px;
  height:88px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
