body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:577px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1514 {
  position:absolute;
  left:251px;
  top:0px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1515 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u1516 {
  position:absolute;
  left:253px;
  top:196px;
  width:322px;
  height:376px;
  text-align:left;
}
#u1517 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1518 {
  position:absolute;
  left:253px;
  top:55px;
  width:324px;
  height:161px;
  text-align:left;
}
#u1519 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:33px;
}
#u1520 {
  position:absolute;
  left:255px;
  top:22px;
  width:316px;
  height:33px;
}
#u1521 {
  position:absolute;
  left:2px;
  top:8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:212px;
}
#u1522 {
  position:absolute;
  left:254px;
  top:55px;
  width:318px;
  height:212px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:98px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:38px;
}
#u1524 {
  position:absolute;
  left:255px;
  top:534px;
  width:316px;
  height:38px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:11px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  position:absolute;
  left:255px;
  top:277px;
  width:316px;
  height:71px;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
}
#u1528 {
  position:absolute;
  left:359px;
  top:355px;
  width:93px;
  height:88px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:102px;
  background:inherit;
  background-color:rgba(189, 42, 32, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 42, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1530 {
  position:absolute;
  left:255px;
  top:348px;
  width:320px;
  height:102px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1531 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  word-wrap:break-word;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
}
#u1532 {
  position:absolute;
  left:462px;
  top:355px;
  width:93px;
  height:88px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
