body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:-6px;
  top:54px;
  width:324px;
  height:479px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:232px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2148 {
  position:absolute;
  left:12px;
  top:427px;
  width:294px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:17px;
  top:110px;
  width:289px;
  height:193px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6399FF;
  text-align:left;
}
#u2152 {
  position:absolute;
  left:8px;
  top:62px;
  width:255px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6399FF;
  text-align:left;
}
#u2153 {
  position:absolute;
  left:2px;
  top:10px;
  width:251px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2154 {
  position:absolute;
  left:0px;
  top:315px;
  width:318px;
  height:36px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2155 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2156 {
  position:absolute;
  left:12px;
  top:323px;
  width:197px;
  height:20px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:21px;
  top:362px;
  width:253px;
  height:20px;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u2160 {
  position:absolute;
  left:280px;
  top:361px;
  width:22px;
  height:17px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2162 {
  position:absolute;
  left:0px;
  top:390px;
  width:318px;
  height:14px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2163 {
  position:absolute;
  left:2px;
  top:-1px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:74px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:500px;
  width:318px;
  height:74px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:29px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#0033FF;
}
#u2166 {
  position:absolute;
  left:19px;
  top:519px;
  width:113px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#0033FF;
}
#u2167 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:64px;
}
#u2168 {
  position:absolute;
  left:202px;
  top:503px;
  width:70px;
  height:64px;
  color:#CC0000;
}
#u2169 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:535px;
  width:318px;
  height:37px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:28px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:6px 6px 5px rgba(94, 94, 94, 0.349019607843137);
  -webkit-box-shadow:6px 6px 5px rgba(94, 94, 94, 0.349019607843137);
  box-shadow:6px 6px 5px rgba(94, 94, 94, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:108px;
  top:488px;
  width:90px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2173 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u2174 {
  position:absolute;
  left:3px;
  top:55px;
  width:315px;
  height:423px;
  overflow:hidden;
  touch-action:none;
}
#u2174_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:423px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2174_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
