body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1278 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1279 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:489px;
}
#u1280 {
  position:absolute;
  left:0px;
  top:51px;
  width:319px;
  height:489px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:236px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u1282 {
  position:absolute;
  left:118px;
  top:18px;
  width:201px;
  height:33px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:8px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1284 {
  position:absolute;
  left:7px;
  top:192px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286 {
  position:absolute;
  left:0px;
  top:233px;
  width:314px;
  height:284px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:134px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1288 {
  position:absolute;
  left:20px;
  top:359px;
  width:100px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1289 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1291 {
  position:absolute;
  left:8px;
  top:241px;
  width:225px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1293 {
  position:absolute;
  left:16px;
  top:262px;
  width:288px;
  height:60px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1295 {
  position:absolute;
  left:0px;
  top:514px;
  width:318px;
  height:55px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 116, 225, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1297 {
  position:absolute;
  left:230px;
  top:503px;
  width:63px;
  height:35px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1298 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:10px;
  top:25px;
  width:28px;
  height:26px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u1302 {
  position:absolute;
  left:10px;
  top:24px;
  width:28px;
  height:27px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:127px;
}
#u1304 {
  position:absolute;
  left:-5px;
  top:61px;
  width:334px;
  height:127px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:56px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:126px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:-5px;
  top:61px;
  width:324px;
  height:126px;
  opacity:0.6;
}
#u1307 {
  position:absolute;
  left:2px;
  top:55px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1310 {
  position:absolute;
  left:331px;
  top:272px;
  width:15px;
  height:15px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:200px;
  height:5px;
}
#u1312 {
  position:absolute;
  left:343px;
  top:279px;
  width:197px;
  height:2px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-7px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:42px;
}
#u1314 {
  position:absolute;
  left:538px;
  top:281px;
  width:2px;
  height:39px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:450px;
  top:320px;
  width:300px;
  height:240px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:15px;
  top:330px;
  width:253px;
  height:20px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1320 {
  position:absolute;
  left:135px;
  top:359px;
  width:100px;
  height:31px;
  color:#000000;
}
#u1321 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:20px;
  top:503px;
  width:200px;
  height:35px;
}
#u1322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1323 {
  position:absolute;
  left:16px;
  top:432px;
  width:300px;
  height:60px;
  font-size:14px;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:15px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  position:absolute;
  left:0px;
  top:404px;
  width:319px;
  height:15px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:0px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
