body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:768px;
}
#u953 {
  position:absolute;
  left:-3px;
  top:52px;
  width:322px;
  height:768px;
  text-align:left;
}
#u954 {
  position:absolute;
  left:2px;
  top:376px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u956 {
  position:absolute;
  left:34px;
  top:61px;
  width:251px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:720px;
}
#u958 {
  position:absolute;
  left:8px;
  top:115px;
  width:300px;
  height:720px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:8px;
  top:24px;
  width:28px;
  height:26px;
}
#u965 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u966 {
  position:absolute;
  left:8px;
  top:23px;
  width:28px;
  height:27px;
}
#u967 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:54px;
}
#u968 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:54px;
  text-align:left;
}
#u969 {
  position:absolute;
  left:2px;
  top:19px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u970 {
  position:absolute;
  left:77px;
  top:15px;
  width:238px;
  height:36px;
}
#u971 {
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u972 {
  position:absolute;
  left:110px;
  top:15px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:-4px;
  top:570px;
  width:330px;
  height:410px;
}
#u975 {
  position:absolute;
  left:2px;
  top:197px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u977 {
  position:absolute;
  left:-3px;
  top:530px;
  width:324px;
  height:40px;
}
#u978 {
  position:absolute;
  left:2px;
  top:12px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u980 {
  position:absolute;
  left:158px;
  top:541px;
  width:41px;
  height:20px;
  font-size:16px;
  color:#868686;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u982 {
  position:absolute;
  left:123px;
  top:538px;
  width:25px;
  height:25px;
}
#u983 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:327px;
  height:5px;
}
#u984 {
  position:absolute;
  left:-3px;
  top:530px;
  width:324px;
  height:2px;
}
#u985 {
  position:absolute;
  left:2px;
  top:-7px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:0px;
  top:53px;
  width:321px;
  height:478px;
  overflow:hidden;
  touch-action:none;
}
#u986_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:9px;
  top:24px;
  width:28px;
  height:26px;
}
#u989 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u990 {
  position:absolute;
  left:9px;
  top:23px;
  width:28px;
  height:27px;
}
#u991 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
