body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:768px;
}
#u839 {
  position:absolute;
  left:-3px;
  top:52px;
  width:322px;
  height:768px;
  text-align:left;
}
#u840 {
  position:absolute;
  left:2px;
  top:376px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u842 {
  position:absolute;
  left:34px;
  top:61px;
  width:251px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:720px;
}
#u844 {
  position:absolute;
  left:8px;
  top:115px;
  width:300px;
  height:720px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:8px;
  top:24px;
  width:28px;
  height:26px;
}
#u851 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u852 {
  position:absolute;
  left:8px;
  top:23px;
  width:28px;
  height:27px;
}
#u853 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:54px;
}
#u854 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:54px;
  text-align:left;
}
#u855 {
  position:absolute;
  left:2px;
  top:19px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:36px;
}
#u856 {
  position:absolute;
  left:77px;
  top:15px;
  width:238px;
  height:36px;
}
#u857 {
  position:absolute;
  left:2px;
  top:10px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u858 {
  position:absolute;
  left:110px;
  top:15px;
  width:100px;
  height:35px;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:-4px;
  top:570px;
  width:330px;
  height:410px;
}
#u861 {
  position:absolute;
  left:2px;
  top:197px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:-3px;
  top:530px;
  width:324px;
  height:40px;
}
#u864 {
  position:absolute;
  left:2px;
  top:12px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u866 {
  position:absolute;
  left:158px;
  top:541px;
  width:41px;
  height:20px;
  font-size:16px;
  color:#868686;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u868 {
  position:absolute;
  left:123px;
  top:538px;
  width:25px;
  height:25px;
}
#u869 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:327px;
  height:5px;
}
#u870 {
  position:absolute;
  left:-3px;
  top:530px;
  width:324px;
  height:2px;
}
#u871 {
  position:absolute;
  left:2px;
  top:-7px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  position:absolute;
  left:0px;
  top:53px;
  width:321px;
  height:478px;
  overflow:hidden;
  touch-action:none;
}
#u872_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u872_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  position:absolute;
  left:9px;
  top:24px;
  width:28px;
  height:26px;
}
#u875 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u876 {
  position:absolute;
  left:9px;
  top:23px;
  width:28px;
  height:27px;
}
#u877 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
