body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:516px;
}
#u1982 {
  position:absolute;
  left:-3px;
  top:53px;
  width:324px;
  height:516px;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:2px;
  top:250px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u1984 {
  position:absolute;
  left:-1px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1986 {
  position:absolute;
  left:-1px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u1988 {
  position:absolute;
  left:122px;
  top:190px;
  width:49px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u1990 {
  position:absolute;
  left:-4px;
  top:521px;
  width:324px;
  height:49px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:16px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:468px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
}
#u1992 {
  position:absolute;
  left:-1px;
  top:53px;
  width:320px;
  height:468px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:226px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1996 {
  position:absolute;
  left:6px;
  top:57px;
  width:44px;
  height:40px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2002 {
  position:absolute;
  left:57px;
  top:55px;
  width:230px;
  height:212px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2003 {
  position:absolute;
  left:2px;
  top:98px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2004 {
  position:absolute;
  left:50px;
  top:72px;
  width:16px;
  height:16px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:70px;
  top:197px;
  width:182px;
  height:65px;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u2008 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:30px;
  width:177px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u2010 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:64px;
  top:55px;
  width:208px;
  height:120px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  color:#999999;
}
#u2014 {
  position:absolute;
  left:63px;
  top:175px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  color:#999999;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2017 {
  position:absolute;
  left:6px;
  top:-7px;
  width:44px;
  height:40px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2023 {
  position:absolute;
  left:57px;
  top:-1px;
  width:230px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2024 {
  position:absolute;
  left:2px;
  top:13px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:6px;
}
#u2025 {
  position:absolute;
  left:50px;
  top:6px;
  width:16px;
  height:6px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:-5px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:66px;
  top:-1px;
  width:208px;
  height:40px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2030 {
  position:absolute;
  left:57px;
  top:266px;
  width:230px;
  height:40px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2033 {
  position:absolute;
  left:79px;
  top:271px;
  width:75px;
  height:29px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u2035 {
  position:absolute;
  left:86px;
  top:275px;
  width:21px;
  height:20px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u2037 {
  position:absolute;
  left:112px;
  top:275px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:192px;
  top:271px;
  width:70px;
  height:29px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2043 {
  position:absolute;
  left:198px;
  top:276px;
  width:18px;
  height:20px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u2045 {
  position:absolute;
  left:222px;
  top:275px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:57px;
  top:259px;
  width:230px;
  height:8px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:-4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:55px;
}
#u2050 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:324px;
  height:55px;
  text-align:left;
}
#u2051 {
  position:absolute;
  left:2px;
  top:20px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2052 {
  position:absolute;
  left:25px;
  top:18px;
  width:286px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2053 {
  position:absolute;
  left:2px;
  top:8px;
  width:282px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:10px;
  top:23px;
  width:28px;
  height:26px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u2057 {
  position:absolute;
  left:10px;
  top:22px;
  width:28px;
  height:27px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u2060 {
  position:absolute;
  left:272px;
  top:16px;
  width:43px;
  height:39px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2062 {
  position:absolute;
  left:282px;
  top:20px;
  width:26px;
  height:26px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2065 {
  position:absolute;
  left:6px;
  top:324px;
  width:44px;
  height:40px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2071 {
  position:absolute;
  left:57px;
  top:330px;
  width:230px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2072 {
  position:absolute;
  left:2px;
  top:23px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u2073 {
  position:absolute;
  left:50px;
  top:340px;
  width:16px;
  height:9px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2076 {
  position:absolute;
  left:70px;
  top:332px;
  width:194px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u2078 {
  position:absolute;
  left:6px;
  top:410px;
  width:44px;
  height:40px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:57px;
  top:416px;
  width:230px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:402;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:2px;
  top:18px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:24px;
}
#u2086 {
  position:absolute;
  left:50px;
  top:424px;
  width:16px;
  height:14px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:239px;
  height:67px;
}
#u2088 {
  position:absolute;
  left:58px;
  top:411px;
  width:229px;
  height:57px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
