body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:543px;
}
#u2051 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:543px;
  text-align:left;
}
#u2052 {
  position:absolute;
  left:2px;
  top:264px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:45px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:21px;
  width:318px;
  height:45px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:126px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:66px;
  width:318px;
  height:126px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:55px;
  width:314px;
  word-wrap:break-word;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:498px;
  width:318px;
  height:43px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:212px;
}
#u2059 {
  position:absolute;
  left:-2px;
  top:192px;
  width:321px;
  height:212px;
  font-size:16px;
  text-align:left;
}
#u2060 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:106px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:392px;
  width:318px;
  height:106px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:45px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
