body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:543px;
}
#u1501 {
  position:absolute;
  left:245px;
  top:-6px;
  width:324px;
  height:543px;
  text-align:left;
}
#u1502 {
  position:absolute;
  left:2px;
  top:264px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:45px;
}
#u1503 {
  position:absolute;
  left:248px;
  top:17px;
  width:318px;
  height:45px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:126px;
}
#u1505 {
  position:absolute;
  left:248px;
  top:62px;
  width:318px;
  height:126px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:55px;
  width:314px;
  word-wrap:break-word;
}
#u1507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
}
#u1507 {
  position:absolute;
  left:248px;
  top:494px;
  width:318px;
  height:43px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:212px;
}
#u1509 {
  position:absolute;
  left:246px;
  top:188px;
  width:321px;
  height:212px;
  font-size:16px;
  text-align:left;
}
#u1510 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  word-wrap:break-word;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:106px;
}
#u1511 {
  position:absolute;
  left:248px;
  top:388px;
  width:318px;
  height:106px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:45px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
