body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:543px;
}
#u1709 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:543px;
  text-align:left;
}
#u1710 {
  position:absolute;
  left:2px;
  top:264px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:45px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:21px;
  width:318px;
  height:45px;
}
#u1712 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:126px;
}
#u1713 {
  position:absolute;
  left:0px;
  top:66px;
  width:318px;
  height:126px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:55px;
  width:314px;
  word-wrap:break-word;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
}
#u1715 {
  position:absolute;
  left:0px;
  top:498px;
  width:318px;
  height:43px;
}
#u1716 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:212px;
}
#u1717 {
  position:absolute;
  left:-2px;
  top:192px;
  width:321px;
  height:212px;
  font-size:16px;
  text-align:left;
}
#u1718 {
  position:absolute;
  left:2px;
  top:58px;
  width:317px;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:106px;
}
#u1719 {
  position:absolute;
  left:0px;
  top:392px;
  width:318px;
  height:106px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:45px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
