body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:79px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1523 {
  position:absolute;
  left:246px;
  top:491px;
  width:74px;
  height:79px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:32px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  position:absolute;
  left:5px;
  top:24px;
  width:28px;
  height:26px;
}
#u1527 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u1529 {
  position:absolute;
  left:5px;
  top:24px;
  width:28px;
  height:26px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
