body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:79px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  position:absolute;
  left:246px;
  top:491px;
  width:74px;
  height:79px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:32px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1676 {
  position:absolute;
  left:5px;
  top:25px;
  width:28px;
  height:26px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u1678 {
  position:absolute;
  left:5px;
  top:24px;
  width:28px;
  height:27px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
