body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u1926 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u1927 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u1928 {
  position:absolute;
  left:-1px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u1929 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1930 {
  position:absolute;
  left:-1px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u1931 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:33px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1932 {
  position:absolute;
  left:25px;
  top:18px;
  width:286px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1933 {
  position:absolute;
  left:2px;
  top:8px;
  width:282px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u1934 {
  position:absolute;
  left:122px;
  top:190px;
  width:49px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:10px;
  top:24px;
  width:28px;
  height:26px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u1939 {
  position:absolute;
  left:10px;
  top:23px;
  width:28px;
  height:27px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:49px;
}
#u1941 {
  position:absolute;
  left:-4px;
  top:521px;
  width:324px;
  height:49px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:16px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:468px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
}
#u1943 {
  position:absolute;
  left:-1px;
  top:53px;
  width:320px;
  height:468px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:226px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
}
#u1946 {
  position:absolute;
  left:272px;
  top:16px;
  width:43px;
  height:39px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1948 {
  position:absolute;
  left:282px;
  top:20px;
  width:26px;
  height:26px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1951 {
  position:absolute;
  left:6px;
  top:144px;
  width:44px;
  height:40px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1957 {
  position:absolute;
  left:57px;
  top:142px;
  width:230px;
  height:212px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1958 {
  position:absolute;
  left:2px;
  top:98px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1959 {
  position:absolute;
  left:50px;
  top:159px;
  width:16px;
  height:16px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961 {
  position:absolute;
  left:70px;
  top:284px;
  width:182px;
  height:65px;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u1963 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:30px;
  width:177px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#0099FF;
  text-align:left;
}
#u1965 {
  position:absolute;
  left:2px;
  top:6px;
  width:173px;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:64px;
  top:142px;
  width:208px;
  height:120px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#999999;
}
#u1969 {
  position:absolute;
  left:63px;
  top:262px;
  width:99px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  color:#999999;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u1972 {
  position:absolute;
  left:6px;
  top:80px;
  width:44px;
  height:40px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:57px;
  top:86px;
  width:230px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u1979 {
  position:absolute;
  left:2px;
  top:13px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:6px;
}
#u1980 {
  position:absolute;
  left:50px;
  top:93px;
  width:16px;
  height:6px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:-5px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  position:absolute;
  left:66px;
  top:86px;
  width:208px;
  height:40px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  position:absolute;
  left:57px;
  top:353px;
  width:230px;
  height:40px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1988 {
  position:absolute;
  left:79px;
  top:358px;
  width:75px;
  height:29px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u1990 {
  position:absolute;
  left:86px;
  top:362px;
  width:21px;
  height:20px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u1992 {
  position:absolute;
  left:112px;
  top:362px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:192px;
  top:358px;
  width:70px;
  height:29px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1998 {
  position:absolute;
  left:198px;
  top:363px;
  width:18px;
  height:20px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
}
#u2000 {
  position:absolute;
  left:222px;
  top:362px;
  width:37px;
  height:20px;
  font-size:12px;
  color:#C9C9C9;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:57px;
  top:346px;
  width:230px;
  height:8px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:-4px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
