body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:571px;
}
#u661 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:324px;
  height:571px;
  text-align:left;
}
#u662 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:376px;
}
#u663 {
  position:absolute;
  left:0px;
  top:194px;
  width:322px;
  height:376px;
  text-align:left;
}
#u664 {
  position:absolute;
  left:2px;
  top:180px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u665 {
  position:absolute;
  left:0px;
  top:53px;
  width:324px;
  height:161px;
  text-align:left;
}
#u666 {
  position:absolute;
  left:2px;
  top:72px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:33px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u667 {
  position:absolute;
  left:41px;
  top:20px;
  width:273px;
  height:33px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:2px;
  top:8px;
  width:269px;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0373E1;
  text-align:left;
}
#u669 {
  position:absolute;
  left:7px;
  top:56px;
  width:300px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0373E1;
  text-align:left;
}
#u670 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:232px;
}
#u671 {
  position:absolute;
  left:0px;
  top:89px;
  width:314px;
  height:232px;
  opacity:0.2;
  text-align:left;
}
#u672 {
  position:absolute;
  left:2px;
  top:108px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u673 {
  position:absolute;
  left:21px;
  top:97px;
  width:280px;
  height:60px;
  line-height:20px;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u677 {
  position:absolute;
  left:0px;
  top:400px;
  width:318px;
  height:36px;
  font-family:'等线 Bold', '等线';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u678 {
  position:absolute;
  left:2px;
  top:11px;
  width:314px;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u679 {
  position:absolute;
  left:6px;
  top:436px;
  width:312px;
  height:112px;
  font-size:14px;
  line-height:28px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u681 {
  position:absolute;
  left:285px;
  top:443px;
  width:9px;
  height:15px;
  font-size:14px;
}
#u682 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u683 {
  position:absolute;
  left:286px;
  top:468px;
  width:9px;
  height:15px;
  font-size:14px;
}
#u684 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u685 {
  position:absolute;
  left:287px;
  top:498px;
  width:9px;
  height:15px;
  font-size:14px;
}
#u686 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u687 {
  position:absolute;
  left:287px;
  top:523px;
  width:9px;
  height:15px;
  font-size:14px;
}
#u688 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u689 {
  position:absolute;
  left:161px;
  top:165px;
  width:121px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u691 {
  position:absolute;
  left:201px;
  top:197px;
  width:79px;
  height:20px;
  color:#FFFFFF;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:0px;
  top:355px;
  width:319px;
  height:46px;
}
#u695 {
  position:absolute;
  left:2px;
  top:15px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:31px;
  top:361px;
  width:104px;
  height:33px;
}
#u698 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:23px;
}
#u699 {
  position:absolute;
  left:41px;
  top:365px;
  width:29px;
  height:23px;
}
#u700 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u701 {
  position:absolute;
  left:77px;
  top:370px;
  width:43px;
  height:20px;
  color:#C9C9C9;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  position:absolute;
  left:189px;
  top:361px;
  width:98px;
  height:33px;
}
#u706 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u707 {
  position:absolute;
  left:197px;
  top:366px;
  width:25px;
  height:23px;
}
#u708 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u709 {
  position:absolute;
  left:233px;
  top:370px;
  width:43px;
  height:20px;
  color:#C9C9C9;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  position:absolute;
  left:0px;
  top:347px;
  width:319px;
  height:8px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-4px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:9px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:0px;
  top:509px;
  width:318px;
  height:9px;
}
#u715 {
  position:absolute;
  left:2px;
  top:-4px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:0px;
  top:518px;
  width:318px;
  height:55px;
}
#u717 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 116, 225, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:38px;
  top:524px;
  width:247px;
  height:41px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u719 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:9px;
  top:25px;
  width:28px;
  height:26px;
}
#u722 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u723 {
  position:absolute;
  left:9px;
  top:24px;
  width:28px;
  height:27px;
}
#u724 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:103px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  position:absolute;
  left:17px;
  top:231px;
  width:277px;
  height:103px;
}
#u727 {
  position:absolute;
  left:2px;
  top:44px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:29px;
  background:inherit;
  background-color:rgba(172, 147, 116, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:38px;
  top:298px;
  width:240px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:2px;
  top:4px;
  width:236px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:17px;
  top:231px;
  width:277px;
  height:59px;
}
#u731 {
  position:absolute;
  left:2px;
  top:22px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u732 {
  position:absolute;
  left:34px;
  top:236px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u734 {
  position:absolute;
  left:251px;
  top:237px;
  width:25px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u736 {
  position:absolute;
  left:33px;
  top:270px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u738 {
  position:absolute;
  left:185px;
  top:267px;
  width:105px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A8A8A8;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:17px;
  top:166px;
  width:277px;
  height:65px;
}
#u743 {
  position:absolute;
  left:2px;
  top:24px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u744 {
  position:absolute;
  left:30px;
  top:173px;
  width:81px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u746 {
  position:absolute;
  left:33px;
  top:209px;
  width:65px;
  height:18px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:7px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:17px;
  top:195px;
  width:277px;
  height:7px;
}
#u749 {
  position:absolute;
  left:2px;
  top:-4px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:7px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:17px;
  top:256px;
  width:277px;
  height:7px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-4px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:7px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  position:absolute;
  left:17px;
  top:159px;
  width:277px;
  height:7px;
}
#u753 {
  position:absolute;
  left:2px;
  top:-4px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u754 {
  position:absolute;
  left:159px;
  top:169px;
  width:121px;
  height:20px;
  font-size:16px;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u756 {
  position:absolute;
  left:199px;
  top:209px;
  width:79px;
  height:20px;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:2px;
}
#u758 {
  position:absolute;
  left:33px;
  top:232px;
  width:247px;
  height:1px;
}
#u759 {
  position:absolute;
  left:2px;
  top:-8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
