body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:543px;
}
#u1533 {
  position:absolute;
  left:245px;
  top:-6px;
  width:324px;
  height:543px;
  text-align:left;
}
#u1534 {
  position:absolute;
  left:2px;
  top:264px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:462px;
}
#u1535 {
  position:absolute;
  left:245px;
  top:48px;
  width:325px;
  height:462px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:223px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:256px;
}
#u1537 {
  position:absolute;
  left:245px;
  top:48px;
  width:321px;
  height:256px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:120px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u1539 {
  position:absolute;
  left:246px;
  top:-3px;
  width:320px;
  height:51px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:102px;
  background:inherit;
  background-color:rgba(189, 42, 32, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 42, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1541 {
  position:absolute;
  left:246px;
  top:337px;
  width:329px;
  height:102px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u1542 {
  position:absolute;
  left:2px;
  top:27px;
  width:325px;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:88px;
}
#u1543 {
  position:absolute;
  left:447px;
  top:344px;
  width:93px;
  height:88px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:36px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:44px;
}
#u1545 {
  position:absolute;
  left:245px;
  top:493px;
  width:321px;
  height:44px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:14px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:43px;
}
#u1547 {
  position:absolute;
  left:245px;
  top:493px;
  width:330px;
  height:43px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:14px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
