body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:572px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:-2px;
  width:324px;
  height:572px;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:2px;
  top:278px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:487px;
}
#u2087 {
  position:absolute;
  left:0px;
  top:55px;
  width:325px;
  height:487px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:236px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:270px;
}
#u2089 {
  position:absolute;
  left:0px;
  top:55px;
  width:321px;
  height:270px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:127px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:54px;
}
#u2091 {
  position:absolute;
  left:1px;
  top:1px;
  width:320px;
  height:54px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:19px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:101px;
  background:inherit;
  background-color:rgba(189, 42, 32, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(189, 42, 32, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u2093 {
  position:absolute;
  left:1px;
  top:359px;
  width:320px;
  height:101px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u2094 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  word-wrap:break-word;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u2095 {
  position:absolute;
  left:202px;
  top:364px;
  width:93px;
  height:93px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:46px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:524px;
  width:321px;
  height:46px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:15px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:45px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:524px;
  width:330px;
  height:45px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:14px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
