body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:566px;
  width:318px;
  height:37px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:55px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 229, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2063 {
  position:absolute;
  left:60px;
  top:25px;
  width:210px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:2px;
  width:206px;
  word-wrap:break-word;
}
#u2065 {
  position:absolute;
  left:0px;
  top:55px;
  touch-action:pan-x;
}
#u2065_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:512px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:56px;
  background:inherit;
  background-color:rgba(216, 214, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:250px;
  top:455px;
  width:68px;
  height:56px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:20px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2065_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:512px;
}
#u2070 {
  position:absolute;
  left:-8px;
  top:0px;
  width:328px;
  height:512px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:248px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
  background:-webkit-linear-gradient(0deg, rgba(0, 84, 106, 1) 0%, rgba(0, 84, 106, 1) 0%, rgba(1, 92, 110, 1) 100%, rgba(1, 92, 110, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(0, 84, 106, 1) 0%, rgba(0, 84, 106, 1) 0%, rgba(1, 92, 110, 1) 100%, rgba(1, 92, 110, 1) 100%);
  background:linear-gradient(90deg, rgba(0, 84, 106, 1) 0%, rgba(0, 84, 106, 1) 0%, rgba(1, 92, 110, 1) 100%, rgba(1, 92, 110, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:260px;
  top:470px;
  width:50px;
  height:42px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u2065_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:519px;
}
#u2074 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:330px;
  height:519px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:252px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(115, 115, 115, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:270px;
  top:470px;
  width:40px;
  height:40px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
